html {
	height: 100%;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url("../images/background.png");
	min-height: 100%;
	position: relative;
}

.wrap {
	margin-bottom: -80px;
	padding: 0px 0px 80px;
	min-height: 100%;
	height: 100%;
}

.navbar {
	margin-bottom: 30px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
    background: #4aaaa5;
    margin-left: 100px;
	font-weight: bold;
	font-size: 28px;
	font-family: Georgia, Times, 'Times New Roman', serif;
	padding: 15px 30px;
}

.navbar-right {
	margin-right: 10%;
}

@media screen and (max-width: 768px) {
	.navbar-right {
		margin: 0px;
	}
}

#content {
	border: 1px solid #dddddd;
	background: #ffffff;
	padding: 0px 25px;
	margin-bottom: 30px;
}

h1, h2, h3 {
	font-weight: bold;
	font-size: 28px;
	font-family: Georgia, Times, 'Times New Roman', serif;
	color: #4aaaa5;
}

h1 {
	margin: 30px 0px;
}

h3 {
	font-size: 20px;
	margin: 0;
}

.panel-default .panel-heading {
	font-size: 22px;
}

.panel-default .panel-body {
	float: none;
	padding: 30px;

}

img {
	width: 100%;
}

.img-thumbnail {
	max-width: 30%;
	float: left;
	margin: 0px 20px 20px 0px;
}

.break {
	border: 1.5px solid #dddddd;
	margin: 0px 0px 30px 0px;
}

.breakSmall {
	border: 0.5px solid #dddddd;
}


.grid {
	margin-bottom: 20px;
}

.caption {
	text-align: center;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 15px;
	background: #4aaaa5;
	padding: 10px;
	margin: 0px 15px;
	color: #ffffff;
}

footer {
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0
    padding: 1rem;
	width: 100%;
	border-top: 5px solid #4aaaa5;
	background: #666666;
	color: #bbc0c9;
	padding: 30px;
	text-align: center;
	font-size: 11px;
}




/* Old stuff */




.headerBar {
	background: #ffffff;
	border-bottom: 2px solid #dddddd;
}


.headerBlock {
	display: inline-block;
	margin-left: 10%;
	background: #4aaaa5;
}

a {
	text-decoration: none;
	color: #777777;
	}

a:hover {
	color: #4aaaa5;
}

.menu {
	color: #777777;
	position: absolute;
	display: inline-block;
	right: 15%;	
	margin: 30px 0px;
}

.separator {
	border: 1px solid #dddddd;
	border-top: 0px;
	border-bottom: 0px;
}

td {
	padding: 0px 20px;
}

.content {
	display: inline-block;
	vertical-align: top;
	margin: 40px 40px 100px 10%;
	/*margin-left: 10%;*/
	padding: 30px 30px;
	border: 1px solid #dddddd;
	background: #ffffff;
	width: 45%;
	/*margin-bottom: 100px;*/
}

h2, h3 {
	color: #4aaaa5;
}

.image {
	float: left;
	margin: 0px 20px 20px 0px;
}

#headshot {
	max-width: 150px;
}

p {
	margin-bottom: 20px;
}

.connect {
	display: inline-block;
	vertical-align: top;
	margin: 40px 0px;
	border: 1px solid #dddddd;
	background: #ffffff;
	padding: 30px 25px;
	width: 15%;
}


.social {
	width: 100%;
}

.icons {
	padding: 10px 0px;
	width: 30%;
	max-width: 100px;
	float: left;
}

input {
	width: 100%;
	height: 20px;
}

.textbox {
	width: 100%;
	height: 60px;
}

.button {
	background: #4aaaa5;
	padding: 10px 20px;
	width: auto;
	height: 100%;
	border: 0px;
	color: #ffffff;
	font-size: 14px;
}

.left {
	width: 50%;
	float: left;
	padding-right: 5%;
	box-sizing: border-box;

}

.right {
	width: 50%;
	float: left;
	padding-left: 5%;
    box-sizing: border-box;
}

.tile {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

